 @model List<Lab.Demo.EF.MVC.Models.CustomerView>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <link rel="stylesheet" href="~/css/estilos.css">
    <title >Clientes Sistema ABM con MVP </title>
</head>

<body>
    <h2 class="select_title">Listado de Clientes</h2>
    <table class="tabla_select">
        <thead>
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Company Name</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Title</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Regi&Oacute;n</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Country</th>
                <th scope="col">Contact Phone</th>
                <th scope="col">Fax</th>

            </tr>
        </thead>
        <tbody>
            @{foreach (var customer in Model)
              {
                        <tr>
                            <td>@customer.id</td>
                            <td>@customer.companyName</td>
                            <td>@customer.contactName</td>
                            <td>@customer.contactTitle</td>
                            <td>@customer.address</td>
                            <td>@customer.city</td>
                            <td>@customer.region</td>
                            <td>@customer.postalCode</td>
                            <td>@customer.country</td>
                            <td>@customer.contactPhone</td>
                            <td>@customer.fax</td>
                        </tr>
              }
            }
        </tbody>
    </table>
</body>
</html>